@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
/* Variables */
$color-primario:#87dfc1;
$color-secundario:#4aa587;
$boton-presionado: #3c7461;

/* Generales */
*{
    font-family: 'Ubuntu', sans-serif;
    box-sizing: inherit;
    &::after{
        box-sizing: inherit;
    }
    &::before{
        box-sizing: inherit;
    }
}
body{
    margin:0%;
    padding:0%;
    background-color: $color-primario;
}
/* Utilidades */
.Contenedor-centrado{
    width:20rem;
    height:max-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.Box-Shadow{
    box-shadow: 0px 10px 23px 3px rgba(0,0,0,0.3);
    padding: 1rem;
    border-radius: 1rem;
    background-color: $color-secundario;
}
.centrado{
    text-align: center;
}
.ListaProblemas{
    padding-bottom: 2rem;
    color:white;
    & ul{
        text-align: left;
        display:inline-block;
    }
    & p{
        font-size: 1rem;
    }
}

/* Formato General */
.Success{
    padding: 3rem;
    & img{
        background-color: white;
        border-radius: 50%;
    }
    & p{
        text-align: center;
        color:white;
        margin-bottom: 2rem;
        font-size: 1.2rem;
    }
    & #Volver{
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        color:black;
        padding:1rem;
        background-color:$color-primario;
        border-radius: 1rem;
        &:hover{
            background-color: $boton-presionado;
            color:white;
        }
    }
}

@media screen and (max-width: 420px) {
    .Box-Shadow{
        border-radius: 0;
    }
    .Success{
        img{
            width: 10rem;
        }
    }
}